   html, body {
  padding: 0px;
  margin: 0px;
}

*{
  box-sizing: border-box;
}
/*nav bar*/
 body {
    /*background-color:black;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.background1{
  background:url(/background/lamp-background.jpg);
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 502px;
}
#background2{
    background:url(background/test.jpg) fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 502px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
 /*nav bar*/

 /*fa-icon*/
 .css-adaptive{
  height: 100%;
  width: 100%;
 }
 .fa-fakebook {
    color: #3b5998;
 }
/*fa-icon*/


/*margin*/
.fixed {
background: fixed repeat-y;
}

/*margin*/
#example .new { opacity: 0; }
#example { }
#example .div_opacity {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 1;
}